.card {
  background-color: #282d35;
  width: 550px;
  height: 459px;
}
h1 {
  position: relative;
  padding: 57px 99px 46px 27px;
  color: white;
}
ul {
  list-style: none;
  padding-left: 40px;
}

ul li::before {
  content: "\2022";
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  color: RGB(1, 206, 243);
  padding-right: 10px;
}
li {
  padding-bottom: 20px;
  color: white;
}

.cust_back {
  width: 23%;
  position: absolute;
  top: 130px;
  right: 0;
}

.duhh {
  display: block;
  padding-left: 18px;
}
